body{
    background-color: #000000;
}
#profile{
    float: 230px right;
}
.wrapper{
    background-color: #000000;
    color: rgb(255, 130, 130);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Geneva, Verdana, sans-serif;
    font-size:27px;
}
#ab{
  margin-left:30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 27px;
  color: antiquewhite;
  background-color: #002345;
}
#about{
  margin-left:30px;
  color:#002333;
}
.profile_pic{
    border-radius: 50%;
}
#myheader{
    text-align: center;
    background-color:#002333;
    color:white;
}
.carousel-item {
 height: 500px;
    text-align: center;
    color:white;
}
.item1 {
  background-color:#002399;
  height: 300px;
  color:white;
}
.item2 {
  background-color:#002399;
  height: 300px;
  color:white;
}
.item3 {
  background-color:#002399;
  height: 300px;
  color:white;
}
